<!DOCTYPE html>
<html class="html">
  <head>
    <meta charset="UTF-8" />
    <title>Family</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body class="body">
    <div class="layout">
      <main class="main">main</main>
      <nav class="nav">

        <div class="nav_tab">
          <div id="nav_toggle_id" class="tab" title="Скрыть">
              <div class="tab_text">Фото</div>
          </div>
        </div>

        <div class="nav_wrapper">
          <div class="info">
            <a
              class="link"
              href="./index.html"
              title="Моисеенков Владимир Ильич"
            >
              <div class="info_logo">
                <div
                  class="avatar"
                  style="
                        background-position: -63px -51px;
                        background-image: url(../html/assets/photo/001-volodya.png);
                        background-size: 261px;"
                ></div>
              </div>
              <div class="info_fio">
                <div class="info_lastname">Моисеенков</div>
                <div class="info_firstname">Владимир Ильич</div>
              </div>
              <div class="info_life">
                03.02.1937-04.07.2012
              </div>
              <div class="info_age">75 лет</div>
            </a>
          </div>
          <ul class="menu">
            <li class="menu_item">
              <a class="link" href="#" title="Биография">
                <div class="menu_logo menu_logo__book"></div>
                <div class="menu_item-name">Биография</div>
              </a>
            </li>
            <li class="menu_item menu_item__active">
              <a class="link" href="./gallery.html" title="Фото (35 шт.)">
                <div class="menu_logo menu_logo__gallery"></div>
                <div class="menu_item-name">Фото (35 шт.)</div>
              </a>
            </li>
            <li class="menu_item">
              <a class="link" href="#" title="Дом в Ивакино">
                <div class="menu_logo menu_logo__map"></div>
                <div class="menu_item-name">Дом в Ивакино</div>
              </a>
            </li>
            <li class="menu_item">
              <a class="link" href="#" title="Мобильный Sberbank">
                <div class="menu_logo menu_logo__phone"></div>
                <div class="menu_item-name">
                  <div class="menu_item-name-title">
                    Мобильный Sberbank
                  </div>
                  <div class="menu_item-name-descripton">
                    8(916)5889892
                  </div>
                </div>
              </a>
            </li>
            <li class="menu_item">
              <a class="link" href="#" title="Рабочий">
                <div class="menu_logo menu_logo__phone"></div>
                <div class="menu_item-name">
                  <div class="menu_item-name-title">Рабочий</div>
                  <div class="menu_item-name-descripton">
                    8(916)8856699
                  </div>
                </div>
              </a>
            </li>
            <li class="menu_item">
              <a class="link" href="#" title="Мобильный МТС">
                <div class="menu_logo menu_logo__phone"></div>
                <div class="menu_item-name">
                  <div class="menu_item-name-title">Мобильный МТС</div>
                  <div class="menu_item-name-descripton">
                    8(916)5364551
                  </div>
                </div>
              </a>
            </li>
            <li class="menu_item">
              <a class="link" href="#" title="Личная">
                <div class="menu_logo menu_logo__email"></div>
                <div class="menu_item-name">
                  <div class="menu_item-name-title">Личная</div>
                  <div
                    class="menu_item-name-descripton"
                    title="patr123456@yandex.ru"
                  >
                    patr123456@yandex.ru
                  </div>
                </div>
              </a>
            </li>
            <li class="menu_item">
              <a class="link" href="#" title="Дата свадьбы">
                <div class="menu_logo menu_logo__date"></div>
                <div class="menu_item-name">
                  <div class="menu_item-name-title">Дата свадьбы</div>
                  <div class="menu_item-name-descripton" title="02.09.2017">
                    02.09.2017
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>