.nav {
    position: relative;
    display: inline-block;
}

.nav_wrapper {
    position: relative;
    left: 0;
    display: inline-block;
    width: 20em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    background-color: rgba(232, 232, 232, 0.78);
}

.nav_wrapper__hide {
    display: none;
}

.nav_tab {
    position: absolute;
    top: -1em;
    right: 21em;
    white-space: nowrap;
    text-align: right;
    transform: rotate(270deg);
    transform-origin: right;
    user-select: none;
}

.nav_tab::before {
    position: relative;
    top: -1.5em;
    border-bottom: 2em solid rgba(232, 232, 232, 0.78);
    border-left: 2em solid transparent;
    content: '';
}

.nav_tab__hide {
    top: -2em;
    right: 1em;
}
